{% import "./macros.njk" as forms %}
<div class="title">
    Send Email
</div>
<div class="box">
    <div class="box-inner">
        <form>
            {{ forms.field('user', 'Your Name') }}

            {{ forms.field('email', 'Your Email', 'email') }}

            
            {{ forms.textarea('email', 'Your Email') }}
    
            {{ forms.checkbox('sendCopy', 'Send a copy to my Email.') }}

            {{ forms.button('Send Email') }}
        </form>
    </div>
</div>