{% import "./macros.njk" as forms %}
<div class="title">
    Subscribe Form
</div>
<div class="box">
    <div class="box-inner">
        <form>
            {{ forms.field('email', 'Enter your Email', 'email') }}
            
            <div class="row">
                <div class="flex-1">
                    {{ forms.button('Subscribe') }}
                </div>
                <div class="flex-1">
                    {{ forms.button('No, Thanks', false, true) }}
                </div>
                
            </div>
        </form>
    </div>
</div>