{% macro field(name='user', placeholder='placeholder', type='text') %}
<div class="element">
    <div class="icon">
        {% include "./svg/" + name + ".svg" %}
    </div>
    <div class="input-wrapper">
        <input type="{{ type }}" placeholder="{{ placeholder }}" name="{{ name }}" required />
    </div>
</div>
{% endmacro %}

{% macro textarea(name='user', placeholder='placeholder') %}

<div class="element text">
    <textarea name="{{ name }}" required>{{ placeholder}}</textarea>
</div>
{% endmacro %}

{% macro select(name='user', placeholder='placeholder', options='') %}
<div class="element">
    <div class="icon">
        {% include "./svg/" + name + ".svg" %}
    </div>
    <div class="select-wrapper">
        <select name="{{ name }}" required>
            <option value="" disabled selected hidden>{{ placeholder }}</option>
             {% for option in options  %}
                <option value="{{ Option }}">{{option}}</option> 
             {% endfor %}
        </select>
    </div>
</div>
{% endmacro %}


{% macro checkbox(name='', text='Checkbox text', class='') %}
    <div class="checkbox-wrapper {{class}}">
        <label> 
            {{text}} 
            <input type="checkbox" name="{{ name }}" id="{{ name }}" value="true" required/>
            <span class="checkmark"></span>
        </label>
    </div>
{% endmacro %}

{% macro button(text='Click', disabled=false, danger=false) %}
<button
    class="{% if danger %}danger{% endif %}"
    type="submit"
    {% if disabled %}
    disabled
    {% endif %}
>
    {{text}}
</button>

{% endmacro %}